@import "_NewNullStyle";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

.wrapper {
  background-color: rgb(200, 116, 116);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center {
  border: 1px solid #000;
  border-radius: 20%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-size: 65px;
  font-weight: bold;
  background-color: pink;
  animation: modal 0.8s alternate ease;
  width: 60%;
  height: 30rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .strelka {
    position: relative;
    .big {
      position: absolute;
      left: -90px;
      top: -100px;
      width: 200px;
      height: 200px;
      transform: rotate(270deg);
    }
    .small {
      position: absolute;
      left: -150px;
      top: -100px;
      width: 320px;
      height: 200px;
      transform: rotate(270deg);
    }
    .second {
      position: absolute;
      left: -40px;
      top: -160px;
      width: 100px;
      height: 320px;
      transform: rotate(180deg);
    }
  }
  .point {
    border-radius: 50%;
    background-color: #000;
    width: 20px;
    height: 20px;
    z-index: 6;
  }
  .one {
    position: absolute;
    top: 0;
    right: 18%;
  }

  .two {
    position: absolute;
    top: 18%;
    right: 0;
  }
  .three {
    position: absolute;
    right: 0;
  }
  .four {
    position: absolute;
    bottom: 18%;
    right: 0;
  }
  .five {
    position: absolute;
    bottom: 0;
    right: 18%;
  }
  .six {
    position: absolute;
    bottom: 0;
  }
  .seven {
    position: absolute;
    bottom: 0;
    left: 18%;
  }
  .eight {
    position: absolute;
    bottom: 18%;
    left: 0;
  }
  .nine {
    position: absolute;
    left: 0;
  }
  .ten {
    position: absolute;
    top: 18%;
    left: 0;
  }
  .eleven {
    position: absolute;
    top: 0;
    left: 18%;
  }
  .twelve {
    position: absolute;
    top: 0;
  }
  // padding: 10% 10%;
}

.center-none {
  display: none;
}
